In [27]:
import pandas as pd
import numpy as np
import csv
filename = './itcont.txt'
pd.read_csv(filename, header=None, sep="|")

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,C00629618,N,TER,P,201701230300133512,15C,IND,"PEREZ, JOHN A",LOS ANGELES,CA,...,PRINCIPAL,DOUBLE NICKEL ADVISORS,1032017,40,H6CA34245,SA01251735122,1141239,NaN,NaN,2012520171368850783
1,C00177436,N,M2,P,201702039042410894,15,IND,"DEEHAN, WILLIAM N",ALPHARETTA,GA,...,UNUM,"SVP, SALES, CL",1312017,384,NaN,PR2283873845050,1147350,NaN,P/R DEDUCTION ($192.00 BI-WEEKLY),4020820171370029337
2,C00384818,N,M2,P,201702039042412112,15,IND,"ABBOTT, JOSEPH",WOONSOCKET,RI,...,CVS HEALTH,"VP, RETAIL PHARMACY OPS",1122017,250,NaN,2017020211435-887,1147467,NaN,NaN,4020820171370030285
3,C00177436,N,M2,P,201702039042410893,15,IND,"SABOURIN, JAMES",LOOKOUT MOUNTAIN,GA,...,UNUM,"SVP, CORPORATE COMMUNICATIONS",1312017,230,NaN,PR1890575345050,1147350,NaN,P/R DEDUCTION ($115.00 BI-WEEKLY),4020820171370029335
4,C00177436,N,M2,P,201702039042410895,15,IND,"JEROME, CHRISTOPHER",FALMOUTH,ME,...,UNUM,"EVP, GLOBAL SERVICES",1312017,384,NaN,PR2283905245050,1147350,NaN,P/R DEDUCTION ($192.00 BI-WEEKLY),4020820171370029342
5,C00384818,N,M2,P,201702039042412112,15,IND,"BAKER, SCOTT",WOONSOCKET,RI,...,CVS HEALTH,"EVP, HEAD OF RETAIL OPERATIONS",1122017,333,NaN,2017020211435-910,1147467,NaN,NaN,4020820171370030287
6,C00177436,N,M2,P,201702039042410894,15,IND,"FOLEY, JOSEPH",FALMOUTH,ME,...,UNUM,"SVP, CORP MKTG & PUBLIC RELAT.",1312017,384,NaN,PR2283904845050,1147350,NaN,P/R DEDUCTION ($192.00 BI-WEEKLY),4020820171370029339

In [28]:
filename = './itcont.txt'
fileHandle = open(filename, 'r')
for line in fileHandle:
    fields = line.split('|')
fileHandle.close()
print(len(fields[:]))

21